<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>404 Not Found Error</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<div class="container">
			<br>
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h1>Error: Halaman tidak ditemukan</h1>
					</div>
					<div class="card-body">
						<p>Yuk kita kembali ke halaman sebelumnya</p>
						<code><span style="display:block;line-height:8px; font-size: 8px; font-weight:bold;white-space:pre;font-family: monospace;color: black; background: white;">                                       
	                @@@@@@                
	              @@@@@@@@@@               
	             @@@@@@@@@@@@              
	            @@@@@@@@@@@@@@             
	           @@@@@@@  @@@@@@@            
	          @@@@@@      @@@@@@           
	         @@@@@@@      @@@@@@@          
	        @@@@@@@@      @@@@@@@@         
	       @@@@@@@@@@    @@@@@@@@@@        
	      @@@@@@@@@@@    @@@@@@@@@@@       
	     @@@@@@@@@@@@@  @@@@@@@@@@@@@     
	    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    
	   @@@@@@@@@@@@@@    @@@@@@@@@@@@@@   
	  @@@@@@@@@@@@@@      @@@@@@@@@@@@@@  
	 @@@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@@ 
	@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
	 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                            
						</span></code>
					</div>
				</div>
				<br>
				<form><input type="button" class="btn btn-danger" value="Back" onclick="history.back()"></form>
			</div>
			<footer th:replace="fragments/fragment :: footer"></footer>
		</div>
		<script th:replace="fragments/fragment :: script"></script>
	</body>
</html>